# =========================
# Archivos de sistema (macOS)
# =========================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd

# =========================
# Dependencias
# =========================
node_modules/
vendor/

# =========================
# Compilación
# =========================
dist/
build/
out/
__pycache__/
*.pyc

# =========================
# Temporales
# =========================
*.log
*.tmp
*.swp

# =========================
# Configuración sensible
# =========================
.env

# =========================
# Archivos de Office
# =========================
.docx
.xlsx
.pptx